<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
       name="factory">
       
  <!-- MODELS -->
  <xacro:include filename="$(find vito_description)/model/table.urdf.xacro"/>
  <xacro:include filename="$(find dual_manipulation_shared)/model/shelf.urdf.xacro"/>
  <xacro:include filename="$(find dual_manipulation_shared)/model/conveyor_belt.urdf.xacro"/>
  <xacro:include filename="$(find vito_description)/model/materials.urdf"/>
  <xacro:include filename="$(find lwr_description)/model/kuka_lwr.urdf.xacro"/>
  <xacro:include filename="$(find soft_hand_description)/model/soft_hand.urdf.xacro"/>
    
  <!-- <link name="world" />
  <joint name="factory_world_joint" type="fixed">
    <parent link="world" />
    <child link="factory_anchor" />
  </joint> -->
  <link name="factory_anchor" />
  
  <!-- MISC -->
  <xacro:model_shelf name="shelf0" 
                    parent="factory_anchor"
                    length="0.1"
                    width="1.30"
                    height="0.4"
                    plate_thickness="0.4"
		    color="Grey">
    <origin xyz="1.0 0 0.07" rpy="0 0 0"/>
  </xacro:model_shelf>
  <xacro:model_shelf name="shelf1" 
                    parent="factory_anchor"
                    length="0.4"
                    width="1.30"
                    height="0.5"
                    plate_thickness="0.1"
		    color="DarkGrey">
    <origin xyz="0.8 0 0.07" rpy="0 0 0"/>
  </xacro:model_shelf>
    
  <!-- TABLES -->
  <xacro:model_table name="table0" 
                    parent="factory_anchor"
                    length="1.0"
                    width="1.30"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="0 0 0.07" rpy="0 0 0"/>
  </xacro:model_table>
    <xacro:model_table name="table1" 
                    parent="factory_anchor"
                    length="1.0"
                    width="1.30"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="1.0 0 0.07" rpy="0 0 0"/>
  </xacro:model_table>
    <xacro:model_table name="table2" 
                    parent="factory_anchor"
                    length="0.8"
                    width="1.30"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="2.0 0 0.07" rpy="0 0 0"/>
  </xacro:model_table>
<!--    <xacro:model_table name="table3" 
                    parent="factory_anchor"
                    length="1.0"
                    width="1.30"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="4.0 0 0" rpy="0 0 0"/>
  </xacro:model_table>
    <xacro:model_table name="table4" 
                    parent="factory_anchor"
                    length="1.0"
                    width="1.30"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="5.0 0 0" rpy="0 0 0"/>
  </xacro:model_table>-->
    <xacro:model_belt name="belt0" 
                      parent="factory_anchor"
                      length="2"
                      width="1.0"
                      height="0.0"
		      leg_length="0.9"
                      plate_thickness="0.05">
    <origin xyz="3.5 0 0" rpy="0 0 0"/>
    </xacro:model_belt>
  
    <xacro:model_table name="table5" 
                    parent="factory_anchor"
                    length="1.0"
                    width="1.30"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="6.0 0 0.07" rpy="0 0 0"/>
  </xacro:model_table>
  
  <!-- LEFT ARM 0 -->
  <xacro:kuka_lwr name="0_left_arm" parent="factory_anchor">
    <origin xyz="0.5 0.2 0.60" 
      rpy="${M_PI*80/180} ${M_PI*180.0/180} ${M_PI*0.0/180}"/>
  </xacro:kuka_lwr>

  <!-- LEFT SOFTHAND 0 -->
  <xacro:soft_hand parent="0_left_arm_7_link" name="0_left_hand" left="true" withAdaptiveTransmission="true" useMimicTag="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand>

  <!-- RIGHT ARM 0 -->
  <xacro:kuka_lwr name="0_right_arm" parent="factory_anchor">
    <origin xyz="1.5 -1.5 0.60" 
      rpy="${M_PI*-80/180} ${M_PI*180.0/180} ${M_PI*0.0/180}"/>
  </xacro:kuka_lwr>

  <!-- RIGHT SOFTHAND 0 -->
  <xacro:soft_hand parent="0_right_arm_7_link" name="0_right_hand" left="false" withAdaptiveTransmission="true" useMimicTag="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand>

  <!-- LEFT ARM 1 -->
  <xacro:kuka_lwr name="1_left_arm" parent="factory_anchor">
    <origin xyz="2.5 0.2 0.60" 
      rpy="${M_PI*80/180} ${M_PI*180.0/180} ${M_PI*0.0/180}"/>
  </xacro:kuka_lwr>

  <!-- LEFT SOFTHAND 1 -->
  <xacro:soft_hand parent="1_left_arm_7_link" name="1_left_hand" left="true" withAdaptiveTransmission="true" useMimicTag="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand>
  
  <!-- RIGHT ARM 1 -->
  <xacro:kuka_lwr name="1_right_arm" parent="factory_anchor">
    <origin xyz="3.5 -1.5 0.60" 
      rpy="${M_PI*-80/180} ${M_PI*180.0/180} ${M_PI*0.0/180}"/>
  </xacro:kuka_lwr>

  <!-- RIGHT SOFTHAND 1 -->
  <xacro:soft_hand parent="1_right_arm_7_link" name="1_right_hand" left="false" withAdaptiveTransmission="true" useMimicTag="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand>
  
  <!-- LEFT ARM 2 -->
<!--  <xacro:kuka_lwr name="2_left_arm" parent="factory_anchor">
    <origin xyz="4.5 0.2 0.60" 
      rpy="${M_PI*80/180} ${M_PI*180.0/180} ${M_PI*0.0/180}"/>
  </xacro:kuka_lwr>-->

  <!-- LEFT SOFTHAND 2 -->
<!--  <xacro:soft_hand parent="2_left_arm_7_link" name="2_left_hand" left="true" withAdaptiveTransmission="true" useMimicTag="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand>-->
  
  <!-- RIGHT ARM 2 -->
  <xacro:kuka_lwr name="2_right_arm" parent="factory_anchor">
    <origin xyz="5.5 -1.5 0.60" 
      rpy="${M_PI*-80/180} ${M_PI*180.0/180} ${M_PI*0.0/180}"/>
  </xacro:kuka_lwr>

  <!-- RIGHT SOFTHAND 2 -->
  <xacro:soft_hand parent="2_right_arm_7_link" name="2_right_hand" left="false" withAdaptiveTransmission="true" useMimicTag="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand>
</robot>