<?xml version="1.0" ?>
<launch>
        <!-- LAUNCH INTERFACE -->
        <arg name="robot_name" default="vito" />
        <arg name="tf_prefix_custom" default=""/>
	<arg name="is_tf_prefix_custom" default="false"/>
        
        <!-- LAUNCH IMPLEMENTATION -->
        <!-- remember to set the parameters properly -->

        <!-- load .yaml files -->
        <rosparam command="load" file="$(find dual_manipulation_ik_control)/config/$(arg robot_name)_ik_control.yaml" />
        <rosparam command="load" file="$(find dual_manipulation_shared)/config/$(arg robot_name)_dual_manipulation.yaml" />

        <!-- set fixed transform between world and vito_anchor -->
	<group if="$(is_tf_prefix_custom)">
	  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_world" args="0 0 0 0 0 0 $(arg tf_prefix_custom)/$(arg robot_name)_anchor world 500"/>
	</group>
	<group unless="$(is_tf_prefix_custom)">
	  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_world" args="0 0 0 0 0 0 $(arg robot_name)_anchor world 500"/>
	</group>

</launch>