<launch>

    <param name="robot_description" command="$(find xacro)/xacro.py $(find dual_manipulation_shared)/model/factory.urdf.xacro"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="true" />
            <rosparam param="source_list">
              [/left_arm_0/joint_states,/left_hand_0/joint_states,
               /right_arm_0/joint_states,/right_hand_0/joint_states,
               /left_arm_1/joint_states,/left_hand_1/joint_states,
               /right_arm_1/joint_states,/right_hand_1/joint_states,
               /left_arm_2/joint_states,/left_hand_2/joint_states,
               /right_arm_2/joint_states,/right_hand_2/joint_states,
               /right_arm_3/joint_states,/right_hand_3/joint_states,
               /left_arm_4/joint_states,/left_hand_4/joint_states,
               /right_arm_4/joint_states,/right_hand_4/joint_states,
               /left_arm_5/joint_states,/left_hand_5/joint_states,
               /right_arm_5/joint_states,/right_hand_5/joint_states]
            </rosparam>
    </node>

    <param name="publish_frequency" value="100"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  />

    <node name="my_rviz" pkg="rviz" type="rviz" respawn="false" output="screen"/>

</launch>